[Unit]
Description=coreDNS caching server.
After=network.target

[Service]
ExecStart=/usr/sbin/coredns -conf /etc/coredns/Corefile

# default=bytes, support K,M,G,T
MemoryMax=256M
CPUWeight=5000
# CPUWeight=1-10000

[Install]
WantedBy=multi-user.target

## /usr/lib/systemd/system/coredns.service
# 1. cp coredns /usr/sbin/coredns
# 2. cp Corefile /etc/coredns/Corefile
# 3. cp hosts.cfg /etc/coredns/hosts.cfg